
* {
    box-sizing: border-box;
}
nav a{
    padding:50px 0px 0px 120px;
    text-shadow:rgb(52, 34, 221) 1px 1px 3px;
	float: left;
	color: rgb(19, 15, 15);
	font-family: 'Exo', sans-serif;
	font-size: 18px;
    font-weight: bold;
}
nav a:hover{
    color: crimson;
}
body {
    padding:20px;
    background-color: #bababa;
    font-family: Arial, Helvetica, sans-serif;
}

#header{
    background-color:rgb(212, 125, 17);
    height:120px;
    background-image: url('header.jpg');

}

#header h1{
    color:#00125b;
    padding:10px 0px 0px 20px;
    text-shadow:#fff 1px 1px 3px;
	float: left;
	color: #fff;
	font-family: 'Exo', sans-serif;
	font-size: 35px;
	font-weight: 200;
}

footer{
    background-image:url('footer.jpg');
    height:90px;
}

footer p{
    color:rgb(43, 7, 248);
    padding:20px;
    text-align:center;
    font-size:20pt;
    text-shadow:#000 1px 1px 2px;
}
form {
    padding: 20px;
}